html {
    scroll-behavior: smooth;
}
/*Nave Bar Creation*/
header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(93,93,93,1) 0%, rgba(255,255,255,1) 100%);
    position:fixed;
    height: 60px;
    width: 100%;
    z-index: 90;
}
.Logo{
    left: -10px;
    top: -16px;
    position: absolute;
}
.menu>ul{
    list-style-type: none;
    right: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu>ul>li>a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
}
/*Background Colour Added*/
.home{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(93,93,93,1) 100%, rgba(255,255,255,1) 100%);
    padding: 1px;
}
/*Google Font Added*/
* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}
/*About me frame fix*/
#AboutMe {
    scroll-margin-top: 70px;
}
/*Front image*/
#ImgF{
    margin-top: 60px;
}
#frontPage{
height: 1000px;
    width: 100%
}
#photo>div:nth-child(2){
    width: 950px;
    height: 200px;
    position: relative;
}
#intro>div{
    width: 600px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#intro>div>h2{
    font-size: 60px;
}
#photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
